<br>
<mat-card>

<br>
<mat-form-field >
  <mat-label>Name </mat-label>
  <input matInput type="text" [(ngModel)]= "enteredname">

</mat-form-field>
<br>
<mat-form-field >
  <mat-label>calories</mat-label>
  <input matInput type ="text" [(ngModel)]= "enteredcalories">
</mat-form-field>
<br>

<mat-form-field >
  <mat-label>image</mat-label>
  <input matInput type ="text" [(ngModel)]= "enteredurl">

</mat-form-field>
<br>

<button (click)="onAdd()"mat-raised-button color="warn">add food</button>
<app-displaybox [items]= "posts"></app-displaybox>







